<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Actors</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/AdminStyle/addActorStyle.css" />
</head>

<body>

    <div class="page-container">
        <div class="logo">
            <img src="/static/Assets/logo-dark.png">
        </div>

        <!-- Header Section -->
        <div class="header">
            <p class="dashboard-header">Add Actors</p>
        </div>

        <!-- Sidebar Section -->
        <div class="sidebar">
            <div class="navigation">
                <div class="nav-group" id="nav-dashboard">
                    <img src="/static/Assets/nav-dashboard-gray.svg" />
                    <a th:href="@{/admin/dashboard}">Dashboard</a>
                </div>

                <div class="nav-group" id="nav-movies">
                    <img src="/static/Assets/nav-movies.svg" />
                    <a a th:href="@{/admin/movies}">Movies</a>
                </div>

                <div class="nav-group" id="nav-actors">
                    <img src="/static/Assets/nav-actors-blue.svg" />
                    <a a th:href="@{/admin/actors}">Actors</a>
                </div>

                <div class="nav-group" id="nav-genres">
                    <img src="/static/Assets/nav-genre.svg" />
                    <a th:href="@{/admin/genres}">Genres</a>
                </div>

                <div class="nav-group" id="nav-sales">
                    <img src="/static/Assets/nav-sales.svg" />
                    <a th:href="@{/admin/sales-report}">Sales Report</a>
                </div>

                <div class="nav-group" id="nav-log-out">
                    <img src="/static/Assets/nav-logout.svg" />
                    <a th:href="@{/logout}">Log Out</a>
                </div>
            </div>
        </div>

        <div class="main-content">
            <form>
                <div class="form-container">
                    <div class="form-group">
                        <label for="actorName">Full Name: </label>
                        <input type="text" id="actorName" name="actorName" placeholder="Enter actor name">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="submitMovieForm">Submit</button>
            </form>
        </div>

    </div>

</body>

</html>