* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0px;
  background-color: black;
  color: white;
  width: 100%;
}

.header {
  height: 400px;
  width: 100%;
}

.nav-search {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.navigation {
  width: 100%;
  position: fixed;
  display: flex;
  padding: 10px 20px;
  column-gap: 100px;
  top: 0;
  z-index: 1;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  background-color: transparent;
  /* Initial transparent background */
}

.navigation.blurred {
  background-color: rgba(0, 0, 0, 0.8);
  /* Apply blur when scrolling */
}

.left-nav {
  display: flex;
  column-gap: 30px;
  height: 50px;
  align-items: center;
}

.left-nav a {
  color: white;
  text-decoration: none;
}

.left-nav a:visited {
  color: white;
}

.left-nav a:hover {
  text-decoration: underline;
}

.navigation img {
  width: 200px;
  height: 50px;
}

.right-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  column-gap: 10px;
}

.right-nav img {
  width: 30px;
  height: 30px;
}

.search-bar {
  height: 25px;
  width: 250px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
}

.search-bar::placeholder {
  color: white;
  padding-left: 10px;
  opacity: 1;
}

.movie-container {
  margin-top: 50px;
  padding: 40px;
}

.sub-header {
  display: flex;
  column-gap: 20px;
  padding-left: 40px;
}

button {
  color: white;
  font-weight: 600;

  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.blue-button {
  background-color: #0466c8;
  border: none;
}

.black-button {
  background-color: #000a1c;
  border: 1px solid white;
}

.black-button:hover {
  background-color: #0466c8;
  border: none;
}

.carousel {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
  /* Sesuaikan dengan lebar parent */
  overflow: hidden;
  /* Hanya tampilkan elemen di dalam viewport */
}

.carousel-button {
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
  height: auto;
}

.carousel-button.prevButton {
  left: 10px;
}

.carousel-button.nextButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.movie {
  padding: 0px 40px;
}

.movie h2 {
  color: #0466c8;
}

.movies-container {
  display: flex;
  overflow: visible;
  /* Memotong elemen di luar viewport */
  flex-wrap: nowrap;
  width: 100%;
  /* Sesuaikan dengan lebar parent */
  transition: transform 0.5s ease-in-out;
  column-gap: 20px;
  /* Jarak antar film */
}

.latest-movies {
  flex: 0 0 200px;
  /* Lebar setiap elemen film */
  margin: 0 10px;
  /* Jarak antar elemen film */
  text-align: center;
}

.latest-movies img {
  width: 200px;
  height: 300px;
  border-radius: 20px;
}

.title {
  margin-bottom: 0px;
}

.genre {
  margin-top: 0px;
  color: #0466c8;
  font-weight: 600;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 0;
}