<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Homepage Customer</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/CustomerStyle/homepageStyle.css" />
</head>

<body>
  <div class="page-container">
    <div class="header">
      <div class="navigation">
        <img src="/Assets/logo.png" />

        <div class="nav-search">
          <div class="left-nav">
            <a th href="/customer/homepage">Home</a>
            <a th href="/customer/movies">Movies</a>
            <a th href="/customer/cart">My Cart</a>
            <a th href="/customer/myRentals">My Rentals</a>
            <a th href="/customer/profile">Profile</a>
            <a th href="/landing">Log Out</a>
          </div>

          <div class="right-nav">
            <img src="/Assets/search-icon.png" />
            <input type="text" class="search-bar" placeholder="Search movies, tv shows" />
          </div>
        </div>
      </div>

      <div class="movie-carousel">
        <div class="carousel-container">
          <div class="carousel-slide">
            <div class="slide">
              <img src="/Assets/Movies Poster/Horizontal/avatar-gradient.png">
              <div class="slide-description">
                <p>2022</p>
                <h1>Avatar: The Way of Water</h1>
                <p><b>3 hr 12 min • Action • Fantasy • Adventure • Sci-Fi</b></p>
                <p>
                  Several years after the Na'vi repelled the RDA invasion, Jake Sully
                  and his family are living on Pandora. Things seem peaceful but the
                  RDA has other plans, invading and capturing Pandora.
                </p>

                <div class="button-container">
                  <button type="button" class="play-button">
                    <b>Rent Now</b>
                  </button>

                  <button type="button" class="detail-button">
                    <b>More Details</b>
                  </button>
                </div>
              </div>
            </div>
            <div class="slide">
              <img src="/Assets/Movies Poster/Horizontal/interstellar-gradient.png">
              <div class="slide-description">

                <p>2014</p>
                <h1>Interstellar</h1>
                <p><b>2 hr 49 min • Drama • Sci-Fi</b></p>
                <p>
                  A group of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.
                </p>

                <div class="button-container">
                  <button type="button" class="play-button">
                    <b>Rent Now</b>
                  </button>

                  <button type="button" class="detail-button">
                    <b>More Details</b>
                  </button>
                </div>
              </div>
            </div>
            <div class="slide">
              <img src="/Assets/Movies Poster/Horizontal/oppenheimer-gradient.png">
              <div class="slide-description">
                <p>2023</p>
                <h1>Oppenheimer</h1>
                <p><b>3 hr • Drama • Thriller</b></p>
                <p>
                  The story of J. Robert Oppenheimer and the creation of the atomic bomb during World War II.
                </p>

                <div class="button-container">
                  <button type="button" class="play-button">
                    <b>Rent Now</b>
                  </button>

                  <button type="button" class="detail-button">
                    <b>More Details</b>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <button class="prev">❮</button>
          <button class="next">❯</button>
        </div>
      </div>

    </div>

    <div class="latest-release">
      <h2>Latest Release</h2>
      <div class="movies-container">
        <div th:each="movie : ${latestMovies}">
          <div class="latest-movies">
            <!-- MASIH DUMMY POSTER -->
            <img src="/Assets/Movies Poster/Vertical/dummyvertical.png" /> 
            <p class="title" th:text="${movie.title}">Movie Title</p>
            <p class="genre" th:text="${movie.genres_names}">Genre</p>
          </div>
        </div>
      </div>
    </div>

    <div class="all-movies">
      <h2>Adventure</h2>
      <div class="movies-container">
        <div th:each="adventureMovie : ${adventureMovies}">
          <div class="movies">
            <!-- MASIH DUMMY POSTER -->
            <img src="/Assets/Movies Poster/Horizontal/dummyhorizontal.jpg" />
            <p class="title" th:text="${adventureMovie.title}">Movie Title</p>
            <p class="genre" th:text="${adventureMovie.genres_names}">Genre</p>
          </div>
        </div>
      </div>
    </div>

    <div class="tv-shows">
      <h2>Sci-Fi</h2>
      <div class="movies-container">
        <div th:each="scifiMovie : ${scifiMovies}">
          <div class="movies">
            <img src="/Assets/Movies Poster/Horizontal/dummyhorizontal.jpg" />
            <p class="title" th:text="${scifiMovie.title}">Movie Title</p>
            <p class="genre" th:text="${scifiMovie.genres_names}">Genre</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>ⓒ All Rights Reserved. 2024 The Reel Deal</footer>
</body>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const navigation = document.querySelector(".navigation");

    window.addEventListener("scroll", function () {
      if (window.scrollY > 50) {
        navigation.classList.add("blurred"); // Add blur effect when scrolling
      } else {
        navigation.classList.remove("blurred"); // Remove blur effect when not scrolling
      }
    });
  });

  document.addEventListener("DOMContentLoaded", function () {
    const slides = document.querySelectorAll(".slide");
    const carouselSlide = document.querySelector(".carousel-slide");
    const prevBtn = document.querySelector(".prev");
    const nextBtn = document.querySelector(".next");

    let counter = 0;

    function updateSlide() {
      const size = slides[0].clientWidth;
      carouselSlide.style.transform = `translateX(${-size * counter}px)`;
    }

    nextBtn.addEventListener("click", () => {
      if (counter >= slides.length - 1) return;
      counter++;
      updateSlide();
    });

    prevBtn.addEventListener("click", () => {
      if (counter <= 0) return;
      counter--;
      updateSlide();
    });

    window.addEventListener("resize", updateSlide); // Adjust for responsive design
  });

</script>

</html>