
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/CustomerStyle/myRentalsStyle.css" />
  <title>My Rentals</title>
</head>

<body>
  <div class="page-container">
    <!-- Navigation -->
    <th:block th:include="~{Customer/navigation :: navigationCustomer}"></th:block>

    <div class="rent-container">
      <div class="sub-header">
        <h1>My Rentals</h1>
        <h1 id="history-toggle">Rental History</h1>
      </div>
      <h2>Current Rentals</h2>
      <table>
        <thead>
          <tr>
            <th>Movie Title</th>
            <th>Pick Up Date</th>
            <th>Return Date</th>
            <th>Status</th>
            <th>Days Left</th>
          </tr>
        </thead>
        <tbody th:each="rentalsCurr : ${rentalsCurr}">
          <tr th:classappend="${rentalsCurr.status.equals('Overdue')} ? 'overdue-row' : ''">
            <td th:text="${rentalsCurr.title}">Movie Title 1</td>
            <td th:text="${rentalsCurr.pickup_date}">2024-01-01</td>
            <td th:text="${rentalsCurr.due_date}">2024-01-08</td>
            <td th:text="${rentalsCurr.status}">Sedang Disewa</td>
            <td th:text="${rentalsCurr.daysTillDue}"></td>
          </tr>
        </tbody>
        
      </table>

      <div class="history-container" id="history-container">
        <h2>Rental History Rentals</h2>
        <table id="history-table">
          <thead>
            <tr>
              <th>Movie Title</th>
              <th>Pick Up Date</th>
              <th>Return Date</th>
            </tr>
          </thead>
          <tbody th:each="rentalsHist : ${rentalsHistory}">
            <tr>
              <td th:text="${rentalsHist.title}">Avengers: Endgame</td>
              <td th:text="${rentalsHist.pickup_date}">Pick Up Date: 2023-12-01</td>
              <td th:text="${rentalsHist.return_date}">Return Date: 2023-12-08</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <footer>ⓒ All Rights Reserved. 2024 The Reel Deal</footer>
</body>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const navigation = document.querySelector(".navigation");

    window.addEventListener("scroll", function () {
      if (window.scrollY > 50) {
        navigation.classList.add("blurred"); // Add blur effect when scrolling
      } else {
        navigation.classList.remove("blurred"); // Remove blur effect when not scrolling
      }
    });

    const historyToggle = document.getElementById("history-toggle");
    const historyContainer = document.getElementById("history-container");

    historyToggle.addEventListener("click", function () {
      // Tampilkan atau sembunyikan history-container
      if (
        historyContainer.style.display === "none" ||
        historyContainer.style.display === ""
      ) {
        historyContainer.style.display = "block"; // Tampilkan div history-container
      } else {
        historyContainer.style.display = "none"; // Sembunyikan div history-container
      }
    });
  });
</script>

</html>