<html th:fragment="navigationCustomer">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap"
            rel="stylesheet" />
        <link rel="stylesheet" href="/CustomerStyle/homepageStyle.css" />
    </head>
    <body>
        <div class="navigation">
            <img src="/static/Assets/logo.png" />
    
            <div class="nav-search">
              <div class="left-nav">
                <a th:href="@{/customer/homepage}">Home</a>
                <a th:href="@{/customer/movies}">Movies</a>
                <a th:href="@{/customer/cart}">My Cart</a>
                <a th:href="@{/customer/myRentals}">My Rentals</a>
                <a th:href="@{/customer/profile}">Profile</a>
                <a th:href="@{/logout}">Log Out</a>
              </div>
    
              <div class="right-nav">
                <img src="/static/Assets/search-icon.png" />
                <input type="text" class="search-bar" placeholder="Search movies, tv shows" />
              </div>
            </div>
        </div>
    </body>
</html>