<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/CustomerStyle/profileStyle.css" />
</head>

<body>
  <div class="page-container">
    <div class="header">
      <!-- Navigation -->
      <th:block th:include="~{Customer/navigation :: navigationCustomer}"></th:block>
    </div>

    <div class="profile-container">
      <div class="sub-header">
        <h1>Profile</h1>
      </div>

      <div class="profile-details">
        <div class="right-profile">
          <div class="profile-item">
            <label>Username</label>
            <p th:text="${namaPem}">john_doe</p>
          </div>

          <div class="profile-item">
            <label>Email</label>
            <p th:text="${namaPem}">johndoe@gmail.com</p>
          </div>

          <div class="profile-item">
            <label>Password</label>
            <p th:text="${email}">johnDoe1234</p>
          </div>
        </div>
        <div class="left-profile">
          <div class="profile-item">
            <label>Profile Pict</label>
            <img th:src="${logo}" class="umk-logo" />
          </div>
        </div>

        <div class="edit-profile-btn">
          <a th:href="@{/umk/profile/edit}"><button type="button" class="submit-button">
              Edit Profile
            </button></a>
        </div>
      </div>
    </div>
  </div>

  <footer>ⓒ All Rights Reserved. 2024 The Reel Deal</footer>
</body>

</html>