<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=
    , initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/GeneralStyle/loginStyle.css" />
  <title>Login Page</title>
</head>

<body>
  <div class="page-container">
    <div class="login-container">
      <div class="message-section">
        <img src="/Assets/logo.png" />
        <h2>The best option for movie rentals</h2>
        <p>
          Rent your favorite movies at affordable prices. Enjoy a vast
          collection of titles anytime, anywhere!
        </p>
      </div>
      <div class="form-section">
        <div class="form-header">
          <h1>Login</h1>
          <h1>|</h1>
          <h1 id="signup">Sign Up</h1>
        </div>
        <p style="text-align: center">
          Log in to rental your favourite shows
        </p>

        <div th:if="${error}" style="color: red;">
          <p th:text="${error}"></p>
        </div>

        <form action="/login" method="POST">
          <div class="input-group">
            <input type="text" id="email" name="email" placeholder="example@gmail.com" required />
          </div>
          <div class="input-group">
            <input type="password" id="input-password" name="password" placeholder="*********" required />
          </div>

          <div class="input-group password-toggle">
            <input id="show-password" type="checkbox" />
            <label for="show-password">Show Password</label>
          </div>

          <button type="submit" class="login-btn">Login</button>
          <p class="signup-link">
            Don't have an account? <a th href="/register">Sign up here</a>
          </p>
        </form>
      </div>
    </div>
  </div>

  <script>
    const inputPass = document.getElementById("input-password")
    const showPass = document.getElementById("show-password")

    showPass.addEventListener("input", (e) => {
      if (e.target.checked) {
        inputPass.setAttribute("type", "text")
      } else {
        inputPass.setAttribute("type", "password")
      }
    })
  </script>
</body>

</html>