* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0px;
  background-color: black;
  color: white;
  width: 100%;
  overflow-x: hidden;
}

.header {
  height: 400px;
  width: 100%;
}

.nav-search {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.navigation {
  width: 100%;
  position: fixed;
  display: flex;
  padding: 10px 20px;
  column-gap: 100px;
  top: 0;
  z-index: 1;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  background-color: transparent;
  /* Initial transparent background */
}

.navigation.blurred {
  background-color: rgba(0, 0, 0, 0.5);
}

.left-nav {
  display: flex;
  column-gap: 30px;
  height: 50px;
  align-items: center;
}

.left-nav a {
  color: white;
  text-decoration: none;
}

.left-nav a:visited {
  color: white;
}

.left-nav a:hover {
  text-decoration: underline;
}

.navigation img {
  width: 200px;
  height: 50px;
}

.right-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  column-gap: 10px;
}

.right-nav img {
  width: 30px;
  height: 30px;
}

.search-bar {
  height: 25px;
  width: 250px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
}

::placeholder {
  color: white;
  padding-left: 10px;
  opacity: 1;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  /* Lebar penuh jendela */
  margin: 0 auto;
  /* Pastikan berada di tengah */
}


.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 300%;
  /* Sesuai jumlah slide, sesuaikan jika jumlah slide berbeda */
}

.slide {
  position: relative;
  width: 100vw;
  /* Lebar penuh layar */
  height: 65vh;
  /* Tinggi penuh layar */
  overflow: hidden;
  /* Sembunyikan bagian gambar yang melampaui div */
  display: flex;
  align-items: center;
  /* Opsional, untuk konten teks jika ada */
}

.slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* Isi seluruh lebar div */
  height: 100%;
  /* Isi seluruh tinggi div */
  object-fit: cover;
  /* Pastikan gambar menutupi area sepenuhnya */
  z-index: -1000;
}


.slide-description {
  width: 55%;
  padding-left: 40px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 50px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.movie-description {
  margin-top: 100px;
  width: 500px;
  padding: 40px;
}

.button-container {
  display: flex;
  column-gap: 10px;
}

.play-button {
  display: flex;
  background-color: #0466c8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  column-gap: 20px;
  align-items: center;
  cursor: pointer;
}

.play-button:hover {
  background-color: transparent;
  border: 1px solid white;
}

.detail-button {
  display: flex;
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 8px;
  column-gap: 20px;
  align-items: center;
  cursor: pointer;
}

.detail-button:hover {
  background-color: #023e7d;
  border: none;
}

.latest-release,
.all-movies,
.tv-shows {
  padding: 0px 40px;
}

.carousel {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
  /* Sesuaikan dengan lebar parent */
  overflow: hidden;
  /* Hanya tampilkan elemen di dalam viewport */
}


.carousel-button {
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
  height: auto;
}

.carousel-button.prevButton {
  left: 10px;
}

.carousel-button.nextButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.movies-container {
  display: flex;
  overflow: visible;
  /* Memotong elemen di luar viewport */
  flex-wrap: nowrap;
  width: 100%;
  /* Sesuaikan dengan lebar parent */
  transition: transform 0.5s ease-in-out;
  column-gap: 20px;
  /* Jarak antar film */
}

.latest-movies {
  flex: 0 0 200px;
  /* Lebar setiap elemen film */
  margin: 0 10px;
  /* Jarak antar elemen film */
  text-align: center;
}

.latest-movies img {
  width: 100%;
  /* Pastikan gambar memenuhi elemen */
  border-radius: 10px;
  display: block;
}



.title {
  margin-bottom: 0px;
}

.genre {
  margin-top: 0px;
  color: #0466c8;
  font-weight: 600;
}

.movies {
  flex: 0 0 200px;
  margin: 0 10px;
  text-align: center;
}

.movies img {
  width: 100%;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 0;
}